<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gripper_gazebo" params="name">
  
    <gazebo reference="${name}_palm_link">
      <material>Gazebo/Black</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="${name}_finger_link_r">
      <material>Gazebo/Black</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>true</selfCollide>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <minDepth>0.001</minDepth>
      <maxContacts>100</maxContacts>
      <sensor name="finger_r_contact" type="contact">
        <always_on>1</always_on>
        <contact>
          <collision>gripper_finger_link_r_collision</collision>
        </contact>
        <plugin name="gripper_bumper_r" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <bumperTopicName>gripper_finger_link_r_collision</bumperTopicName>
          <frameName>gripper_finger_r_link</frameName>
        </plugin> 
      </sensor>     
    </gazebo>

    <gazebo reference="${name}_finger_link_l">
      <material>Gazebo/Black</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>true</selfCollide>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <minDepth>0.001</minDepth>
      <maxContacts>100</maxContacts>
      <sensor name="finger_l_contact" type="contact">
        <always_on>1</always_on>
        <contact>
          <collision>gripper_finger_link_l_collision</collision>
        </contact>
        <plugin name="gripper_bumper_l" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <bumperTopicName>gripper_finger_link_l_collision</bumperTopicName>
          <frameName>gripper_finger_l_link</frameName>
        </plugin> 
      </sensor>     
    </gazebo>
	
	
  </xacro:macro>

</robot>
